<a href="https://colab.research.google.com/github/Harishreddy12345/MACHINE-LEARNING/blob/main/2420080068week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

# Load the dataset
data = pd.read_csv("/Titanic-Dataset.csv")

# Dataset shape
print("Dataset Shape:", data.shape)

# Number of rows
print("Number of Rows:", data.shape[0])

# Number of columns
print("Number of Columns:", data.shape[1])

# Missing values per column
print("\nMissing Values Per Column:")
print(data.isnull().sum())

Dataset Shape: (891, 12)
Number of Rows: 891
Number of Columns: 12

Missing Values Per Column:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
data['Age'] = data['Age'].fillna(data['Age'].median())
data['Embarked'] = data['Embarked'].fillna(data['Embarked'].mode()[0])

data.drop(
    columns=['PassengerId', 'Name', 'Ticket', 'Cabin'],
    inplace=True,
    errors='ignore'
)

Q1 = data['Fare'].quantile(0.25)
Q3 = data['Fare'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
print(lower_bound)
print(upper_bound)

-26.724
65.6344

In [6]:
df = pd.get_dummies(df, columns=['Sex', 'Embarked'], drop_first=True)
le = LabelEncoder()
categorical_cols = df.select_dtypes(include=['object']).columns
for col in categorical_cols:
    df[col] = le.fit_transform(df[col])
X = df.drop('Survived', axis=1)
y = df['Survived']
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.30, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.50, random_state=42)
print("\nDataset Shapes:")
print("Training set:", X_train.shape, y_train.shape)
print("Validation set:", X_val.shape, y_val.shape)
print("Testing set:", X_test.shape, y_test.shape)

Dataset Shapes:
Training set: (623, 12) (623,)
Validation set: (134, 12) (134,)
Testing set: (134, 12) (134,)